<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".ExpenseListActivity"
            android:exported="false" />
        <activity
            android:name=".sendmessage.SendMessageActivity"
            android:exported="false" />
        <activity
            android:name=".sendcomplete.SendCompleteActivity"
            android:exported="false" />
    </application>
</manifest>
