<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".JeongsanApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jeongsan"
        tools:targetApi="31">
        <activity
            android:name=".camera.ReceiptCameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".expenselist.sendcomplete.SendCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".creategroup.CreateGroupActivity"
            android:exported="false" />
        <activity
            android:name=".expenselist.inviteinfo.InviteInfoActivity"
            android:exported="false"
            android:theme="@style/invite_info_theme" />
        <activity
            android:name=".expenselist.sendmessage.SendMessageActivity"
            android:exported="false" />
        <activity
            android:name=".expenselist.ExpenseListActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="false"></activity>
        <activity
            android:name=".addexpense.AddExpenseActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".expensedetail.ExpenseDetailActivity"
            android:exported="true" />
        <activity
            android:name="com.kappzzaang.jeongsan.ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
